In [5]:
import os
import quandl
import matplotlib.pyplot as plt
quandl.ApiConfig.api_key = "ntxjqrume1L_DQ16smo_"
plt.style.use('fivethirtyeight')

In [6]:
msft = quandl.get('WIKI/MSFT',rows=1305)
aapl = quandl.get('WIKI/AAPL',rows=1305)
jnj = quandl.get('WIKI/JNJ',rows=1305)

In [20]:
msft.head(10)

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2013-01-18,27.10,27.290,27.04,27.250,52167700.0,0.0,1.0,23.738970,23.905406,23.686411,23.870367,52167700.0
2013-01-22,27.30,27.450,27.00,27.150,58650600.0,0.0,1.0,23.914165,24.045562,23.651372,23.782769,58650600.0
2013-01-23,27.20,27.635,27.20,27.610,50387700.0,0.0,1.0,23.826568,24.207618,23.826568,24.185718,50387700.0
2013-01-24,27.70,28.070,27.47,27.630,101739300.0,0.0,1.0,24.264556,24.588667,24.063081,24.203238,101739300.0
2013-01-25,27.58,28.230,27.39,27.880,81847700.0,0.0,1.0,24.159439,24.728824,23.993003,24.422232,81847700.0
2013-01-28,28.01,28.225,27.76,27.911,56056500.0,0.0,1.0,24.536109,24.724444,24.317115,24.449387,56056500.0
2013-01-29,27.82,28.130,27.60,28.010,49242600.0,0.0,1.0,24.369673,24.641226,24.176958,24.536109,49242600.0
2013-01-30,28.01,28.190,27.76,27.850,43580500.0,0.0,1.0,24.536109,24.693785,24.317115,24.395953,43580500.0
2013-01-31,27.79,27.970,27.40,27.450,50530000.0,0.0,1.0,24.343394,24.501070,24.001763,24.045562,50530000.0
2013-02-01,27.67,28.050,27.55,27.930,55565900.0,0.0,1.0,24.238277,24.571148,24.133160,24.466031,55565900.0

In [21]:
aapl.head(10)

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2013-01-17,510.310,510.75,502.03,502.680,16202800.0,0.0,1.0,66.174712,66.231769,65.100999,65.185288,113419600.0
2013-01-18,498.516,502.22,496.40,500.000,16890100.0,0.0,1.0,64.645319,65.125637,64.370925,64.837757,118230700.0
2013-01-22,504.560,507.88,496.63,504.770,16483800.0,0.0,1.0,65.429078,65.859600,64.400751,65.456310,115386600.0
2013-01-23,508.810,514.99,504.77,514.005,30768200.0,0.0,1.0,65.980199,66.781593,65.456310,66.653863,215377400.0
2013-01-24,460.000,465.73,450.25,450.500,52173300.0,0.0,1.0,59.650737,60.393777,58.386400,58.418819,365213100.0
2013-01-25,451.690,456.23,435.00,439.880,43143800.0,0.0,1.0,58.573133,59.161860,56.408849,57.041665,302006600.0
2013-01-28,437.825,453.21,435.86,449.830,28054200.0,0.0,1.0,56.775182,58.770240,56.520370,58.331937,196379400.0
2013-01-29,458.500,460.20,452.12,458.270,20398500.0,0.0,1.0,59.456223,59.676672,58.628894,59.426398,142789500.0
2013-01-30,457.000,462.60,454.50,456.830,14898400.0,0.0,1.0,59.261710,59.987893,58.937521,59.239665,104288800.0
2013-01-31,456.980,459.28,454.98,455.490,11404800.0,0.0,1.0,59.259117,59.557370,58.999766,59.065900,79833600.0

In [22]:
jnj.head(10)

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2013-01-18,72.90,73.23,72.7900,73.23,13558600.0,0.0,1.0,63.386271,63.673205,63.290626,63.673205,13558600.0
2013-01-22,72.92,73.21,72.4200,72.69,11469800.0,0.0,1.0,63.403661,63.655815,62.968913,63.203677,11469800.0
2013-01-23,72.53,72.91,72.4700,72.85,10155100.0,0.0,1.0,63.064557,63.394966,63.012388,63.342796,10155100.0
2013-01-24,72.96,73.23,72.8434,73.10,9369700.0,0.0,1.0,63.438441,63.673205,63.337058,63.560170,9369700.0
2013-01-25,73.13,73.93,73.0600,73.92,10421500.0,0.0,1.0,63.586255,64.281852,63.525390,64.273157,10421500.0
2013-01-28,73.96,74.00,73.4300,73.62,9420900.0,0.0,1.0,64.307937,64.342717,63.847104,64.012308,9420900.0
2013-01-29,73.67,74.62,73.6400,74.41,12386500.0,0.0,1.0,64.055783,64.881804,64.029698,64.699210,12386500.0
2013-01-30,74.45,74.80,74.0100,74.09,9245500.0,0.0,1.0,64.733990,65.038314,64.351412,64.420971,9245500.0
2013-01-31,74.08,74.36,73.7800,73.92,10448700.0,0.0,1.0,64.412277,64.655735,64.151428,64.273157,10448700.0
2013-02-01,74.14,74.42,74.0800,74.18,10016300.0,0.0,1.0,64.464446,64.707905,64.412277,64.499226,10016300.0